<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartscript.platform.user.mapper.AppUserConsentMapper">

    <insert id="insertConsent" parameterType="com.smartscript.platform.user.domain.AppUserConsent"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_user_consent
        (user_id, agreement_type, agreement_version, accepted_at, ip, device_id, create_by)
        VALUES
        (#{userId}, #{agreementType}, #{agreementVersion}, #{acceptedAt}, #{ip}, #{deviceId}, 'system')
    </insert>

    <select id="countAcceptance" resultType="int">
        SELECT COUNT(*) FROM app_user_consent
        WHERE user_id = #{userId}
          AND agreement_type = #{agreementType}
          AND agreement_version = #{agreementVersion}
    </select>

    <select id="countByUser" resultType="int">
        SELECT COUNT(*) FROM app_user_consent WHERE user_id = #{userId}
    </select>
</mapper>
